asgiref
backcall
certifi
chardet
click
decorator
Deprecated
Django
django-ckeditor
django-js-asset
future
idna
ipython
ipython-genutils
jedi
Jinja2
joblib
livereload
lunr
Markdown
MarkupSafe
mkdocs
mkdocs-bootstrap4
mkdocs-git-committers-plugin
nltk
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
PyGithub
Pygments
PyJWT
pytz
PyYAML
regex
requests
six
sqlparse
tornado
tqdm
traitlets
urllib3
wcwidth
wrapt
gunicorn
django-heroku
